* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth; 
}
body{
    background-color: #aaa8a8;
}

.wrapper {
    box-shadow: rgb(197, 20, 197) 20px ;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
    justify-content: center;
}

a {
    text-decoration: none;
}

p,
li {
    font-size: 18px;
    list-style-type: none;
}

section {
    margin-bottom: 20px;
}

.nav{
    background-color: #8BC3C3;
    font-size: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid white;
}
.nav > ul > li {
    display: inline;
}
.nav > ul > li > a {
    padding: 5px 10px;
    margin: 10px 20px;
    color: honeydew;
}

header{
    display: flex;
    width: auto;
    background-color: #8BC3C3;
    border-bottom: 1px solid white;
    color: honeydew;
}

.name {
    align-self: center;
    margin: auto;
}

.name > h1 {
    font-size: 50px;
}

.avatar{
    margin-top: 30px;
    margin-bottom: -5px;
    width: 300px;
    align-items: center;
    justify-content: end;
}

img {
    margin-left: 70px;
    object-fit: contain;
    width: 200px;
}

main {
    display: flex;
    width: 100%;
}

.main {
    width: 70%;
    padding: 20px;
    background-color: #EED3BD;
    color: black;
}

.code {
    background-color: #eff3ef;
}

aside {
    width: 30%;
    padding: 20px;
    background-color: #EEC9AA;
}

.about-me {
    margin: 15px 0;
}

.about-me > p {
    margin: 10px 0;
}

.heading{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px 0 20px;
    padding: 10px 5px;
    border-top: 1px solid white;
}

.section-header > h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
}

.section-list > li {
    margin: 20px 0;
    list-style: none;
}

.eng-lvl {
    margin: 15px 0;
    font-size: 13px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8BC3C3;
    color: honeydew;
}

.foot-year {
    width: 100px;
    text-align: center;
    font-size: 37px;
    line-height: 37px;
    font-weight: bold;
}

.foot-git > a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: honeydew;
}

.foot-rss > a > img {
    width: 100px;
    position: relative;
        top: 3px;
}

a:hover{
    transition: .4s;
    color: rgb(145, 148, 145); 
}
li > a {
    color: black;
}
.color-link{
    color: black;
}